.bundle
db/*.sqlite3
log/*.log
tmp/**/*
**/.DS_Store
.DS_Store
public/**/.DS_Store
public/user-images/**/*.*
public/layout-images/**/*
vendor/**/.DS_Store
app/**/.DS_Store
rdoc
documents/private/*
config/email.yml

