/* 選択ページ
 ================================== */

#inquiry_items {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; 
  border-style: solid; 
}

.inquiry_item {
  width: 17em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.inquiry_item_title {
  background-color: #cccccc;
  width: 15em;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  
}



.inquiry_item_title h4{
  margin:0;
  text-align: center;
  line-height:1.3;
  overflow:hidden;
  white-space:nowrap;
}

.inquiry_item_title:hover {
  background-color: #ffddbb;
}



.selected_inquiry_items {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  width: 17em;
  float: left;
}

.selected_inquiry_items_title {
  background-color: #cccccc;
}

.selected_inquiry_items_contents {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
}


.selected_inquiry_items_title h4{
  margin:0;
  text-align: center;
  line-height:1.3;
  overflow:hidden;
  white-space:nowrap;
}

.inquiry_items_title {
  background-color: #cccccc;
}

.inquiry_items_title h4{
  margin:0;
  text-align: center;
  line-height:1.3;
  overflow:hidden;
  white-space:nowrap;
}


/* Radio ボタンの 設定ダイアログ
======================== */

/* top のdiv
---------------------- */
div.edit_radio_inquiry_item {
  
}

/* 入力領域
---------------------- */
#radio_inquiry_item_fields {
  
}

/* タイトル
---------------------- */
#radio_inquiry_item_fields #title_field {
  
}

#radio_inquiry_item_fields #title_field label {
  
}

#radio_inquiry_item_fields #title_field input {
  
}


/* 各ラジオボタンの設定入力
---------------------- */
#radio_inquiry_item_fields  .radio_inquiry_item_value_field  {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border-width: thin;
}

/* テキスト */
#radio_inquiry_item_fields  .radio_inquiry_item_value_field  .radio_inquiry_item_value_text {
}

/* ボタン */
#radio_inquiry_item_fields  .radio_inquiry_item_value_field  input[type='button'] {
}

/* ラジオ */
#radio_inquiry_item_fields  .radio_inquiry_item_value_field  input[type='radio'] {
}

/*  */
#radio_inquiry_item_fields  .radio_inquiry_item_value_field  label {
}


/* 表示
---------------------- */
#radio_inquiry_item_fields #displayed_field {
  
}

#radio_inquiry_item_fields #displayed_field label {
  
}

#radio_inquiry_item_fields #displayed_field input {
  
}

/* 必須
---------------------- */
#radio_inquiry_item_fields #required_field {
  
}

#radio_inquiry_item_fields #required_field label {
  
}

#radio_inquiry_item_fields #required_field input {
  
}


/* テキストの設定ダイアログ
======================== */
/* top のdiv
---------------------- */
div.edit_text_inquiry_item {
  
}

/* 入力領域
---------------------- */
#text_inquiry_item_fields {
  
}

/* タイトル
---------------------- */
#text_inquiry_item_fields #title_field {
  
}

#text_inquiry_item_fields #title_field label {
  
}

#text_inquiry_item_fields #title_field input{
  
}

/* 複数行?
---------------------- */
#text_inquiry_item_fields #title_field {
  
}

#text_inquiry_item_fields #multi_rows_field label {
  
}

#text_inquiry_item_fields #multi_rows_field input{
  
}

/* 行数
---------------------- */
#text_inquiry_item_fields #row_count_field {
  
}

#text_inquiry_item_fields #row_count_field label {
  
}

#text_inquiry_item_fields #row_count_field input{
  
}

/* 表示
---------------------- */
#text_inquiry_item_fields #displayed_field {
  
}

#text_inquiry_item_fields #displayed_field label {
  
}

#text_inquiry_item_fields #displayed_field input {
  
}

/* 必須
---------------------- */
#text_inquiry_item_fields #required_field {
  
}

#text_inquiry_item_fields #required_field label {
  
}

#text_inquiry_item_fields #required_field input {
  
}



/* チェックボックスの設定ダイアログ
======================== */
/* top のdiv
---------------------- */
div.edit_checkbox_inquiry_item {
  
}

/* 入力領域
---------------------- */
#checkbox_inquiry_item_fields {
  
}

/* タイトル
---------------------- */
#checkbox_inquiry_item_fields #title_field {
  
}

#checkbox_inquiry_item_fields #title_field label {
  
}

#checkbox_inquiry_item_fields #title_field input{
  
}


/* 初期ステータス
---------------------- */
#checkbox_inquiry_item_fields #default_status_field {
  
}

#checkbox_inquiry_item_fields #default_status_field label {
  
}

#checkbox_inquiry_item_fields #default_status_field input{
  
}

/* 表示
---------------------- */
#checkbox_inquiry_item_fields #displayed_field {
  
}

#checkbox_inquiry_item_fields #displayed_field label {
  
}

#checkbox_inquiry_item_fields #displayed_field input {
  
}

/* 必須
---------------------- */
#checkbox_inquiry_item_fields #required_field {
  
}

#checkbox_inquiry_item_fields #required_field label {
  
}

#checkbox_inquiry_item_fields #required_field input {
  
}


/* emailの設定ダイアログ
======================== */
/* top のdiv
---------------------- */
div.edit_email_inquiry_item {
  
}

/* 入力領域
---------------------- */
#email_inquiry_item_fields {
  
}

/* タイトル
---------------------- */
#email_inquiry_item_fields #title_field {
  
}

#email_inquiry_item_fields #title_field label {
  
}

#email_inquiry_item_fields #title_field input{
  
}


/* 確認入力を含むか
---------------------- */
#checkbox_inquiry_item_fields #confirmation_required_field {
  
}

#checkbox_inquiry_item_fields #confirmation_required_field label {
  
}

#checkbox_inquiry_item_fields #confirmation_required_field input{
  
}

/* 確認メイル送信先か
---------------------- */
#checkbox_inquiry_item_fields #confirm_to_field {
  
}

#checkbox_inquiry_item_fields #confirm_to_field label {
  
}

#checkbox_inquiry_item_fields #confirm_to_field input{
  
}



/* 表示
---------------------- */
#email_inquiry_item_fields #displayed_field {
  
}

#email_inquiry_item_fields #displayed_field label {
  
}

#email_inquiry_item_fields #displayed_field input {
  
}

/* 必須
---------------------- */
#email_inquiry_item_fields #required_field {
  
}

#email_inquiry_item_fields #required_field label {
  
}

#email_inquiry_item_fields #required_field input {
  
}

