div {

}

#images {
  clear: both;
}


h2 {
  clear: both;
}
input {
  clear: both;
}

div.pagination {
  clear: both;
}

#images {
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  
}

.image_entry_row td {
  /*
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  */
}

.even {
  background-color: #ffffcc;
}

.odd {
    background-color: #dddddd;
}


.image_entry {
  /*
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  */
  width: 600px;
  height: 10em;
  

}

div.info {
  float: left;
  height: 8em;
}

div.title {
  height: 1.4em;
  margin-top: 0.2em;
  padding-bottom: 0.4em;
  margin-left: 0.2em;
  margin-bottom: 0.2em;
  font-weight: bold;
  font-size: 110%;
}

div.description {
  height: 5.5em;
}

div.actions {
}



.image_entry div.actions {
  /*
  position: relative;
  top: 4.5em;
  */
  height: 1.2em;
  
}


div.thumb {
  width: 120px;
  height: 120px;
  text-align: center;
  float: left;
}

