div {

}

#templates {
  clear: both;
}

#themes {
  clear: both;
}

h2 {
  clear: both;
}
input {
  clear: both;
}

input.template_radio_button {
  display: none;
}

input.theme_radio_button {
  display: none;
}

.template {
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 180px;
  height: 180px;

  float: left;
}


.theme {
  border-style: solid;
  border-color: #dddddd;
  border-width: 3px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 180px;
  height: 180px;

  float: left;
}


.template_thumb {
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
}


.theme_thumb {
  width: 180px;
  height: 150px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
}


.selected {
  border-style: double;
  border-color: blue;
}