<div id="footer_area">
		<ul>
        	<li><a href="#">マニュアル</a></li>
            <li>|</li>
        	<li><a href="#">不都合の報告とご要望</a></li>
        </ul>
    	<p>Powerd by wasabi</p>
</div><!----footer_area----->
