<div id="header_area">
<% unless @site.nil? %>
<h1><a href="#">WASABI</a></h1>


<div class="header_right">
<ul>
      <li>お問い合わせ</li>
      <li>078-843-6682</li>
      <li>月～金 9：30 ～ 18：00</li>
      <li>土曜日 9：30 ～ 12：00</li>
      <li><a href="#">メールでのお問い合わせ</a></li>
</ul>
<p>
  <strong>こんにちは、
    <strong style="color:red;font-size:1.5em;line-height:1;">
      <%= @current_user.login %>さん
    </strong>  ｜   
    <%=link_to "ログアウト", :controller => '/user_sessions', :action => :destroy %>
  </strong>  
</p>
</div><!-- header_right -->

<% end %>
</div>
