body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#warning {
  color: magenta;
}

#error {
  color: red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}


/* ******** */

.actions {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;
  text-align: center;
}

.pagination {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}


div {
 
}

div#header {
    width: 1000px;
}

div#container {
  width: 1000px;
}

div#side {
  float: left;
  width: 20%;

}

div#contents {
  width: 80%;
  float: left;
}

div#footer {
  clear :both;
}

div.inputs  {
  border-style :groove;
  border-width: medium;
  border-color: #cccccc;
  margin-top: 1em;
  margin-bottom: 1em;

}

div.inputs_bottom {
  clear: both;  
}

div.actions {
  
}

div.actions input {
  
}


/* HTMLエディタの画像挿入アイコン  */
.cke_skin_kama a.image_selector .cke_icon
{
  background-image: url(/images/site/image_selector.png);
	background-position: 0 0;
}

