@charset "utf-8";
/*
管理の共通スタイルシート
*/

/*
 ========================== 
 レイアウト / 共通
*/
body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}


div.field, div.actions {
  margin-bottom: 10px;
}


div#header {
    width: 1000px;
}

div#container {
  width: 1000px;
}

div#side {
  float: left;
  width: 20%;

}

div#contents {
  width: 80%;
  float: left;
}

div#footer {
  clear :both;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }


/*
 ========================== 
 メッセージ関連
*/

/* 注意メッセージ
--------------------------------------------------------- */
#notice {
  color: green;
}

/* ワーニングメッセージ
--------------------------------------------------------- */
#warning {
  color: magenta;
}

/* エラーメッセージ
--------------------------------------------------------- */
#error {
  color: red;
}

/* (記事などが)みつかりませんメッセージ
--------------------------------------------------------- */
#not_found {
  
}

/*
 ========================== 
 エラーメッセージ関連
*/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



/*
 ========================== 
 ヘッダー部分
*/


/* ヘッダーの情報(サイト、ログイン名)表示部
--------------------------------------------------------- */
div#header  div#header_infomations {
  
}

div#header  div#header_infomations .header_information_name {
  
}

div#header  div#header_infomations .header_information_value {
  
}

div#header  div#header_infomations #header_site_name {
  
}

div#header  div#header_infomations #header_site_title {
  
}


div#header  div#header_infomations #header_user_name {
  
}

/* ヘッダー, アクション部分(ログアウトリンクを含む)
--------------------------------------------------------- */
#header_menu {
  
}

#header_menu li {
  
}

#header_menu li a {
  
}


/*
 ========================== 
 フッター部分
*/
div#footer {
  
}

/*
 ========================== 
 コンテンツ部分 - 各要素
*/
#contents h1 {
  
}

#contents h2 {
  
}

#contents input {
  
}

#contents input[type=text] {
  
}

#contents input[type=button] {
  
}

#contents input[type=checkbox] {
  
}

#contents input[type=radio] {
  
}

#contents input[type=submit] {
  
}


#contents textarea {
  
}

#contents select {
  
}

/*
 ========================== 
 action 領域
*/
.actions {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;
  text-align: center;
}

.actions input {
  
}

.actions a {
  
}

/*
 ========================== 
 ページ替えリンク関連
*/
/* ページ替えリンク領域
--------------------------------------------------------- */
.pagination {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

/* ページ替えリンク
--------------------------------------------------------- */
.pagination a {

}

/* ページ替えリンク 前へリンク領域
--------------------------------------------------------- */
.pagination .previous_page {

}

/* ページ替えリンク 次へリンク領域
--------------------------------------------------------- */
.pagination .next_page {

}

/*
 ========================== 
 入力領域 / フィールド領域
*/
#contents .inputs {
  border-style :groove;
  border-width: medium;
  border-color: #cccccc;
  margin-top: 1em;
  margin-bottom: 1em;
}

#contents .fields {
  
}

#contents .inputs .field {
  
}

#contents .fields .field {
  
}


#contents div.inputs_bottom {
  clear: both;  
}


/* ========================== 
*/


/* HTMLエディタの画像挿入アイコン  */
.cke_skin_kama a.image_selector .cke_icon
{
  background-image: url(/images/site/image_selector.png);
	background-position: 0 0;
}
