@charset "utf-8";
/*
管理の共通スタイルシート
*/

/*-------reset--------*/
body,div,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,table,th,td,form,fielset,ul,ol,li,dt,dd,address{
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
a img{
	border: none;
}
* html img{
vertical-align: bottom;
}
*:first-child+html img{
vertical-align: bottom;
}
header, section, aside, article, hgroup, nav, header, footer {
	display: block;
}

/*-------body--------*/
body{
	background-color: #ccc;
	font-family: "ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
}

/*-------header--------*/
header{
	background-color: #666;
	height: 120px;
	margin-bottom: 15px;
}
#header_area{
	width: 840px;
	margin: 0 auto;
	overflow: hidden;
	zoom: 1;
	height: 120px;
}
header h1{
	background: url(images/canp_s1.gif) no-repeat;
	float: left;
	font-size: 30px;
	color: #fff;
	margin-top: 70px;
	padding:15px 0 0 60px;
}
header .header_right{
	float: right;
	width: 400px;
	height: 120px
}
header .header_right a:visited{
	color: #00F;
}
header p{
	float: right;
	color: #fff;
	margin: 10px 5px 0px 0px;
}

header ul{
	color: #fff;
	text-align: right;
	margin: 5px 5px 0px 0px;
}
header span{
	color: #F90;
}
header a:visited {
	color: #fff;
}
header a:hover{
	text-decoration: underline;
}

/*-------contet--------*/
#container{
	width: 840px;
	margin: 0 auto;
	background: #e4e4e4;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 15px;
}

/*-------main_section--------*/
.main{
	float: right;
	width: 630px;
	margin-right: 15px;
	padding-top: 50px;
	
}
.main h1{
	font-size: 21px;
	margin-bottom: 10px;
}
.main h2{
	height: 30px;
	background: #666;
	line-height: 30px;
	color: #fff;
	padding-left: 10px;
    -webkit-border-top-left-radius: 8px; /*css3角丸*/ 
    -webkit-border-top-right-radius: 8px;/*css3角丸*/
}
.main ul{
	background-color: #fff;
	font-size: 14px;
    -webkit-border-bottom-left-radius: 8px; /*css3角丸*/ 
    -webkit-border-bottom-right-radius: 8px;/*css3角丸*/
}
.main ul li{
	padding: 10px 0 10px 20px;
	line-height: 1.3em; 
}
.main ul li a:hover{
	text-decoration: underline;
}
.main ul li a:link {
	color: #00F;
}
.main ul li a:visited {
	color: #00f;
}
.main dl{
	background-color: #fff;
	overflow: hidden;
	zoom: 1;
	padding: 10px 0 10px 20px;
	line-height: 1.8em; 
	font-size: 14px;
}
.main dt{
	float: left;
}
.main dd{
	margin-left: 130px;
}
.main dd.theme{
	background: #c4c4c4;
	width: 100px;
	height: 25px;
	text-align: center;
	display: block;
	font-size: 12px;
	margin-top: 10px
}
.main dd.theme a:visited{
	color: #000;
}

.main p{
	background-color: #fff;
	padding: 0 0 10px 30px;
    -webkit-border-bottom-left-radius: 8px; /*css3角丸*/ 
    -webkit-border-bottom-right-radius: 8px;/*css3角丸*/
}
.main span{
	color: #F00;
}
/*-------aside--------*/
aside{
	float: left;
	width: 165px;
	min-height: 700px;
}
aside .main_nav{
	margin-left: 16px; 
}
aside ul.button{
	margin: 20px 0 10px 0;
}
aside ul.button li{
	height: 20px;
	width: 100px;
	background: #c4c4c4;
	margin: 0 auto;
	line-height: 20px;
	margin-bottom: 10px;
    border-radius: 15px;        /* CSS3草案 */  
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 15px;   /* Firefox用 */  
}
aside ul.button li a{
    border-radius: 15px;        /* CSS3草案 */  
    -webkit-border-radius: 15px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 15px;   /* Firefox用 */  
}
aside h2{
	width: 150px;
	height: 30px;
	background: #666 url(images/h2_bottan001.gif) no-repeat 5%;
	font-size: 14px;
    border-radius: 5px;        /* CSS3草案 */  
    -webkit-border-radius: 5px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 5px;   /* Firefox用 */  
}
aside h2 a{
	display: block;
	padding-left: 35px;
	line-height: 30px;
}
aside h2 a:hover {
	text-decoration: underline;
}
aside h2 a:visited {
	color: #fff;
}
aside ul{
	text-align: center;
}
aside ul li{
	height: 25px;
	width: 150px;
	line-height: 25px;
	font-size: 12px;
}
aside ul li a{
	display: block;
	background-color: #d7d7d7;
}
aside ul li a:hover{
	background-color: #6CF;
}
aside ul li a:visited{
	color: #000;
}

/*-------footer--------*/
footer{
	background-color: #666;
	height: 70px;	
}
#footer_area{
	width: 840px;
	margin: 0 auto;
	height: 70px;
	overflow: hidden;	
	zoom: 1;	
}
#footer_area ul{
	overflow: hidden;
	zoom: 1;	
	font-size: 14px;
	margin: 10px 0 0 10px;
	float: left;
	width: 300px
}
#footer_area ul li{
	float: left;
}
#footer_area p{
	text-align: right;
	color: #FFF;
	float: right;
	margin-top: 50px;
}



/*
 ========================== 
 レイアウト / 共通
*/



section.actions {
  margin-bottom: 10px;
}

fields dt {
  margin-bottom: 10px;
}

fields dd {
  margin-bottom: 10px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }


/*
 ========================== 
 メッセージ関連
*/

/* 注意メッセージ
--------------------------------------------------------- */
#notice {
  background-color: #e4e4e4;
  color: green;
}

/* ワーニングメッセージ
--------------------------------------------------------- */
#warning {
  background-color: #e4e4e4;
  color: magenta;
}

/* エラーメッセージ
--------------------------------------------------------- */
#error {
  background-color: #e4e4e4;  
  color: red;
}

/* (記事などが)みつかりませんメッセージ
--------------------------------------------------------- */
#not_found {
  
}

/*
 ========================== 
 エラーメッセージ関連
*/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



/*
 ========================== 
 ヘッダー部分
*/


/*
 ========================== 
 コンテンツ部分 - 各要素
*/
#main h1 {
  
}

#main h2 {
  
}

#main input {
  
}

#main input[type=text] {
  
}

#main input[type=button] {
  
}

#main input[type=checkbox] {
  
}

#main input[type=radio] {
  
}

#main input[type=submit] {
  
}


#main textarea {
  
}

#main select {
  
}

/*
 ========================== 
 action 領域
*/
.actions {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  clear: both;
  text-align: center;
}

.actions input {
  
}

.actions a {
  
}

/*
 ========================== 
 ページ替えリンク関連
*/
/* ページ替えリンク領域
--------------------------------------------------------- */
.pagination {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
}

/* ページ替えリンク
--------------------------------------------------------- */
.pagination a {

}

/* ページ替えリンク 前へリンク領域
--------------------------------------------------------- */
.pagination .previous_page {

}

/* ページ替えリンク 次へリンク領域
--------------------------------------------------------- */
.pagination .next_page {

}

/*
 ========================== 
 入力領域 / フィールド領域
*/
#main .inputs {
  border-style :groove;
  border-width: medium;
  border-color: #cccccc;
  margin-top: 1em;
  margin-bottom: 1em;
}

#main .fields {
  
}

#main .inputs .field {
  
}

#main .fields .field {
  
}


#main div.inputs_bottom {
  clear: both;  
}


/* ========================== 
*/


/* HTMLエディタの画像挿入アイコン  */
.cke_skin_kama a.image_selector .cke_icon
{
  background-image: url(/images/site/image_selector.png);
	background-position: 0 0;
}
