<div id="header_area">
  
  <div class="header_right">
    <p>
      <strong>こんにちは、
        <strong style="color:red;font-size:1.5em;line-height:1;">
          <%= @current_user.login %>さん
        </strong>  ｜   
        <%=link_to "ログアウト", :controller => '/user_sessions', :action => :destroy %>
      </strong>  
    </p>
    
  </div>
</div>

