<script type="text/javascript">
//<![CDATA[
  
  $(document).ready( function(){
    var menuGroupToControllerMap = {"users_menu_header" : ["admin/users", ""],
                                    "password_menu_header" : ["admin/password", ""] };
    var controller = '<%= params[:controller]%>';
    var currentId = 0;
    for(key in menuGroupToControllerMap) {
      if(menuGroupToControllerMap[key].contains(controller)) {
        currentId = "#" + key;
      }
    }

    $("#side_menu").accordion({autoHeight : false,
                              navigation: true,
                              active: currentId
                              });
  });
  
//]]>
</script>
<div id="side_menu">

<h2 class="menu_group_header"  id="users_menu_header"><a href="#">
  機能管理
</a></h2>

<ul class="menu_group"  id="users_menu_group">
  <li>
    <%=link_to "#{Site.model_name.human}管理", 
    :controller => :sites, :action => :index %>
    
  </li>
  <li>
    <%=link_to "管理者ユーザ管理", 
    :controller => :users, :action => :index %>
    
  </li>
</ul>

<h2 class="menu_group_header"  id="password_menu_header"><a href="#">
    パスワード変更
</a></h2>
<ul class="menu_group"  id="password_menu_group">
  
  <li>
    <%=link_to "#{User.human_attribute_name(:password)}変更", 
    :controller => "password", :action => :edit, 
    :id => @current_user.id  %>
  </li>
</ul>

</div>

