<script type="text/javascript">
//<![CDATA[
  
  $(document).ready( function(){
    $("#side_menu").accordion({});
  });
  
//]]>
</script>
<div id="side_menu">

<h2 class="menu_group_header"><a href="#">
  機能管理
</a></h2>

<ul class="menu_group"  id="user_menu_group">
  <li>
    <%=link_to "#{Site.human_name}管理", 
    :controller => :sites, :action => :index %>
    
  </li>
  <li>
    <%=link_to "管理者ユーザ管理", 
    :controller => :users, :action => :index %>
    
  </li>
</ul>

<h2 class="menu_group_header"><a href="#">
    パスワード変更
</a></h2>
<ul class="menu_group"  id="password_menu_group">
  
  <li>
    <%=link_to "#{User.human_attribute_name(:password)}変更", 
    :controller => "password", :action => :edit, 
    :id => @current_user.id  %>
  </li>
</ul>

</div>

