<div class="edit_inquiry_item" 
id="edit_inquiry_item_<%= @inquiry_item.id %>" style="display:none;">
<%= form_for(@inquiry_item, :url => url_for(:action => :update)) do |f| %>
  <div id="error_explanation" style="display:none;">
    <h2 id="error_count"></h2>
    <ul>
    </ul>
  </div>

  <div class="inputs" id="inquiry_item_fields">
    <div class="field" id="title_filed">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  
  
<% end %>
  
</div>