<h1>
  <%= BlogArticle.human_name %>の編集
</h1>
<p id="notice"><%= flash[:notice] %></p>
<% if @article %>
<%= render 'form' %>
<% else %>  
  <p class='not_found'>
    指定された記事はみつかりません
  </p>
<% end %>

<div class="actions" id="back_action">
<%= link_to '一覧へ戻る', url_for(:back) %>
</div>