<div class="widget blog_month" id="blog_months">
<ul >
  <li class="widget_header">
    アーカイブ
  </li>
  <% @blog_months.each do |month| %>
  <li class="widget_field blog_month">
    <%= link_to localize_month(month.datetime), 
                :controller => "blogs", :action => :month,  
                :site => @site.name,
                :month => month.to_s("%Y%m") %>
  </li>
  <% end %>
</ul>
</div>