<div class="widget">
<ul id="blog_months">
  <li class="widget_header">
    最近の投稿
  </li>
  <% @blog_months.each do |month| %>
  <li>
    <%= link_to localize_month(month.datetime), 
                :controller => "blogs", :action => :month,  
                :month => month.to_s("%Y%m") %>
  </li>
  <% end %>
</ul>
</div>