<div class="widget new_blogs" id="new_blogs">
<ul >
  <li class="widget_header">  
    最近の投稿
  </li>
  <% @new_blogs.each do |article| %>
  <li class="widget_field new_blog">
    <%= link_to article.title, :controller => "blogs", :action => :show, 
                              :site => if @site.host == request.host;nil;else; @site.name end,
                              :id => article.id %>
  </li>
  <% end %>
</ul>
</div>
