<h1><%= User.model_name.human %>編集</h1>

<p id="notice"><%= flash[:notice] %></p>
<% if @user %>
<%= render 'form' %>
<% end %>

<div class="actions" id="back_action">
<%= link_to '一覧へ戻る', url_for(:action => :index) %>
</div>
