<hgroup> 
  <!-- logo、eye_catch が headerでない場合のみ表示
  -->
  <% unless eye_catch_required?(:header) %>
    <h1><%= logo_image_tag %></h1> 
  <% end %>
  <!-- logoおわり -->
  <!-- サイトの説明 -->
  <h2><%= site_description %></h2>
</hgroup>
