<p>
  サイド - beauty salon
</p>
<p class="link_to_inquiry">
<%= inquiry_link :text => 'お問い合わせはこちら' %>
</p>
<%= render '/widget/new_blogs' %>
<%= render '/widget/blog_months' %>
<% side_widgets.each do |widget| %>
<%= render_widget widget %>
<% end %>
