body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}




.actions {
  clear: both;
}


div {

}

div#header {
    width: 1000px;
}

div#container {
  width: 1000px;
}

div#side {
  float: left;
  width: 20%;

}

div#contents {
  width: 80%;
  float: right;
}

div#footer {
  clear :both;
}

ul#head_menu {
	list-style:none;
	padding:0em;
	margin:0em;
}
ul#head_menu li {
	float:left;
	margin-right:2px;
}
ul#head_menu li a {
	display:block;
	color:#000000;
	padding:0.2em 0.8em;
	text-decoration:none;
}
ul#head_menu li a:hover {
	color:#333333;
	background:#dddddd;
	text-decoration:underline;
}
ul#head_menu li a:active {
	color:#ffffff;
	background:#999999;
}

ul#head_menu li a:link {　　/*未訪問のリンク*/
font-weight: bold;
color: #FFFFFF;
background-color: #7B7B3C;
display: block;
margin-top: 3px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
padding-left: 0px;
width: 100%;
text-indent: 10px;
}
ul#head_menu li a:visited {　　/*訪問済みのリンク*/
font-weight: bold;
color: #FFFFFF;
background-color: #7B7B3C;
display: block;
margin-top: 3px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
padding-left: 0px;
text-decoration: none;
width: 100%;
text-indent: 10px;
}
ul#head_menu li a:hover {　　/*マウスポインタが乗ったとき*/
font-weight: bold;
color: #7B7B3C;
background-color: #FFCC99;
display: block;
margin-top: 3px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 3px;
padding-right: 0px;
padding-bottom: 3px;
padding-left: 0px;
text-decoration: none;
width: 100%;
text-indent: 10px;
}