<h1>
  <%= Site.human_name %>の編集
</h1>
<p id="notice"><%= flash[:notice] %></p>
<% if @site %>
<%= render 'form' %>
<% else %>  
<% end %>

<div class="actions" id="back_action">
<%= link_to '一覧へ戻る', url_for(:back) %>
</div>